body {      
  font-family: 'Noto Sans TC', sans-serif;    
}

.chartblock { 
  position: relative;
  top: 70px;
  bottom: 10px;
  font-size: 1em;
  font-weight: bold;
  display: grid;
  grid-template-columns: 95%;
  justify-content: space-evenly;
  row-gap: 10px;
  align-items: center;
  text-align: center;
}

label {
  font-weight: bold;
}

select  {
  padding: 2px;
  width: auto; 
  font-size: 1em;
  font-weight: bold; 
}

option {
  font-weight: bold;
}

.chart { 
  height: 250px;
}

.chart-container {
  margin-top: 20px;
}

button {
  width: auto;  
  padding: 5pxs; 
  font-size: 1em; 
  margin: 0 auto;
  font-weight: bold;
}

.navbar-nav .nav-link {
  font-size: 2em ;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); 
}

.nav-link:hover {
  background-color: #ddd;
  color: #000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
}

.chartconfigure { 
  position: relative; 
  top: 85px; 
  display: flex;
  justify-content: space-between;  
}

.display {
  margin-left: auto;
}


.dual-display {
  grid-template-columns: 45% 45%;
}


