body {        
    margin: auto;
    font-family: 'Noto Sans TC', sans-serif;
    padding-top: 70px;
  }
  
  .navbar {
    font-size: 2em;    
    justify-content: space-evenly;
    align-items: center;
    background-color: #333;
    padding: 10px;
  }
  
  .nav-link {
    text-decoration: none;
    color: white;
    padding: 8px;
    margin: 5px;
    transition: transform 0.3s, background-color 0.3s, box-shadow 0.3s;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); 
  }
  
  .nav-link:hover {
    background-color: #555;
    transform: translateY(-3px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4); 
  }
    
  main {    
    max-width: 1200px !important;
    margin: auto;
    padding: 20px;
    font-size: 2em;
  }
  
  h1 {    
    color: #333;
    text-align: center;
  }
  .record {   
    display: grid;
    grid-template-columns: 95%; 
    margin: 0 auto; 
  }
  figcaption {
    font-size: 0.7em; 
}
  img {
    max-width: 100%; 
    height: auto; 
    display: block;     
}
  footer {
    background-color: #333;
    padding: 10px;
    text-align: center;
  }
  
  .footer-link {
    text-decoration: none;
    color: white;
  }
  p {
    text-align: justify;
}

h1, h2 {
  font-weight: bold !important;
}

#sidebar {
position: fixed;
padding-top: 70px;
height: 100%;
overflow: auto;
}

#sidebar .nav-link {
font-size: 1em;
color: #333;
padding: 8px;
}

#sidebar .nav-link:hover {
background-color: #eee;
}

#sidebar ul {
list-style-type: none;
padding-left: 0;
}

.sidebar {
  width: 20%; 
  overflow: hidden;
  transition: width 0.3s; 
}


@media screen and (min-width: 600px) {
    .navbar {
        flex-direction: row;      
    }
    .record {
        grid-template-columns: repeat(3, 1fr);              
    }
    .sidebar {
      width: 20%;
  }
}

.sidebar {
  width: 200px; /* 初始寬度 */
  transition: width 0.3s ease; /* 過渡效果 */
}

@media (max-width: 767px) {
  .sidebar {
      width: 50px; /* 在小螢幕上的寬度 */
  }
}